.wd-kanbas-navigation {
  background-color: black;
  list-style: none;
  padding: 0px;
  width: 85px;
  margin: 0px;
  height: 100vh;
}

.wd-kanbas-navigation.list-group {
  border-radius: 0px;
}

.wd-kanbas-navigation a {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 0.8em;
  text-align: center;
  background-color: black;
  color: white;
  text-decoration: none;
  border: none;
}

.wd-kanbas-navigation-text {
  color: white;
  text-decoration: none;
}

.wd-kanbas-navigation-icons {
  color: red;
  font-size: 2.3rem;
  margin-bottom: 5px;
}

.wd-kanbas-navigation-profile-icon {
  color: gray;
}

.wd-kanbas-navigation a.active {
  background-color: white;
  color: red;
}
